[run]
command_line = -m pytest tests
source = LZW

[report]
# Below exlucded_lines value comes from official example: https://coverage.readthedocs.io/en/coverage-4.3.3/config.html#syntax

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Below is added personally

    # Too tedious to cover all exception raising cases:
    except
    raise

    # Don't complain if not-implemented code isn't run:
    pass

    # Too tedious to cover __str__ implementations:
    def __str__
